    <div class="site-grid site-container">

        <section class="navbar-container">
            <app-navbar></app-navbar>
        </section>
    
        <header class="idetity-container grid-area-common">
            YOUR PAGE NAME
        </header>
    
        <section class="call-to-action-container grid-area-common">
            CALL TO ACTION
        </section>
    
        <section class="page-content-container">
            
            <section class="page-content-main grid-area-common">
               <router-outlet/>
            </section>
    
            <section class="sidebar-container grid-area-common">
                SIDE BAR
            </section>
            
        </section>
    
        <footer class="footer-container grid-area-common bg-body-secondary">
            FOOTER HERE
        </footer>
    
    </div>

