@use '../abstracts' as *;

h1, h2, h3, h4, h5, h6 {
  font-family: $font-secondary;
  margin-bottom: $spacing-md;
  line-height: 1.2;
}

p {
  margin-bottom: $spacing-md;
}

a {
  color: $primary-color;
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}