@use '../abstracts' as *;

.home {
    &__hero {
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
        height: 60vh;
        @include flex-center;
        color: white;
        text-align: center;
    }

    &__features {
        padding: $spacing-xl 0;

        .feature-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: $spacing-lg;
            margin-top: $spacing-lg;
        }
    }
}